<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://java.sun.com/jsf/composite" layout:decorate="~{layout1}" lang="en">

<head>
    <title>Announcements</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container main-content" style="color: white">
        <table>
                <tr th:each="announcement:${announcementsList}">
                    <td th:text="${announcement.getAnnouncementId()}"></td>
                    <td th:text="${announcement.getAnnouncementContent()}" ></td>
                    <td th:text="${announcement.getCreatedat()}" ></td>
                </tr>
        </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/addAnnouncements}">addAnnouncements </a><br>
        </div>
    </div>
</div>

</body>
</html>